@font-face { font-family: 'PT Rouble Sans'; src: url('./../fonts/PTRoubleSans.eot?#iefix') format('embedded-opentype'), url('./../fonts/PTRoubleSans.otf') format('opentype'), url('./../fonts/PTRoubleSans.woff') format('woff'), url('./../fonts/PTRoubleSans.ttf') format('truetype'), url('./../fonts/PTRoubleSans.svg#PTRoubleSans') format('svg'); font-weight: normal; font-style: normal; }

html,body {height: 100%;overflow-y: auto; overflow-x: hidden;}
body {font-size: 100%; overflow-y: auto; overflow-x: hidden;}

.l-page {display: table; border-collapse: collapse; height: 100%; position: relative; overflow-x: hidden; overflow-y: auto; width: 100%}
.l-page__fixed {display: table; border-collapse: collapse; height: 100%; position: relative; overflow-x: hidden; overflow-y: auto; width: 100%}
.l-header { min-width: 1145px; text-align: center; width: 100%; height: 75px;  position: relative; border-bottom: #eeeded solid 1px;  }
.l-header:after {  visibility: hidden;    display: block;    font-size: 0;    content: " ";    clear: both;    height: 0; }
.l-header__fixed { min-width: 1145px; text-align: center; width: 100%; height: 75px;  position: relative; border-bottom: #eeeded solid 1px;  }
.l-header__fixed:after {  visibility: hidden;    display: block;    font-size: 0;    content: " ";    clear: both;    height: 0; }
.l-header__left {vertical-align: middle; text-align: left; display: inline-block; margin-left: 50px; position: relative; -webkit-transform: translateY(10%); -ms-transform: translateY(10%); transform: translateY(10%); }
.l-header__center {vertical-align: middle; text-align: left; display: inline-block; top: 50%; margin-left: 36px; margin-right: 20px;}
.l-header__right {text-align: left; display: inline-block; margin-right: 52px; top: 50%; -webkit-transform: translateY(25%); -ms-transform: translateY(25%); transform: translateY(38%); }
.l-content {overflow: hidden; background-color: #fbfafa; position: relative; width: 100%; margin: 0 auto; margin-bottom: 60px;}
.l-content:before { background: #f0f0f0; /* Old browsers */ /* FF3.6+ */ /* IE10+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#e2e2e2)); /* Opera 11.10+ */ background: -webkit-linear-gradient(top, #f0f0f0 0%,#e2e2e2 100%); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #f0f0f0 0%, #e2e2e2 100%); background: linear-gradient(to bottom, #f0f0f0 0%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */ bottom: 0px; /* W3C */ content: ' '; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f0f0+0,e2e2e2+100 */ display: block; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e2e2e2',GradientType=0 ); height: 180px; /* IE6-9 */ position: absolute; width: 100%; }
.l-content:after { visibility: hidden;    display: block;    font-size: 0;    content: " ";    clear: both;    height: 0; }
.l-content__section {overflow: hidden; width: 956px; margin: 0 auto;}
.l-content__section-catalog {width: 956px; margin: 0 auto; padding-bottom: 40px; overflow: hidden;}
.l-content__section-view {width: 956px; margin: 0 auto 77px; padding-bottom: 40px; overflow: hidden;}
.l-content__section-contacts { overflow: hidden; width: 996px; margin: 0 auto;}
.l-content__section-news {width: 956px; margin: 0 auto; padding-bottom: 40px; overflow: hidden;}
.l-content__section-left {padding-left: 0px; float: left;}
.l-content__big-fixed { display: table-row; overflow: hidden; position: relative; height: 100%; background-color: #fbfafa;}
.l-content__big-fixed:after { visibility: hidden;    display: block;    font-size: 0;    content: " ";  clear: both;    height: 0; }
.l-content__big-fixed-fixed { display: table-row; overflow: hidden; position: relative; height: 100%; background-color: #fbfafa;}
.l-content__big-fixed-fixed:after { visibility: hidden;    display: block;    font-size: 0;    content: " ";  clear: both;    height: 0; }
.l-content__title {width: 956px; font-family: 'Open Sans', sans-serif; font-size: 20px; color: #444444; padding-bottom: 30px; margin: 0 auto; }
.l-horizontal-selector {width: 996px; margin: 0 auto; padding: 25px 0 15px 0;}
.l-content__models {padding-bottom: 35px; width: 996px; margin: 0 auto; }
.l-content__selector { z-index: 10; position: relative; width: 996px; margin: 0 auto; }
.l-advantages { width: calc(50% - 30px); float: left; margin-right: 60px; }
.l-articles { width: calc(50% - 30px); float: left; }
.l-two-columns {text-align: left; width: 956px; margin: 0 auto; overflow: hidden; margin-bottom: 10px;}
.l-awards { height: 280px; width: 956px; margin: 0 auto; overflow: hidden;}
.l-media {height: auto; width: 956px; margin: 0 auto; overflow: hidden;}
.l-footer__container {height: 1px;  position: relative;  width: 956px;  margin: 0 auto; }
.l-footer__container-fixed {height: 100%;  position: relative;  width: 996px;  margin: -79px auto; padding-top: 95px;}
.l-footer__container:before { content: ' '; display: block; width: 9999%; height: 95px; position: absolute;  top: 0;   margin-left: -200%;   margin-right: -200%; background-color: #FFFFFF;}
.l-footer:before { display: block; content: " ";  clear: both; height: 1px; width: 100%; border-top: #eeeded solid 1px;}
.l-footer:after { visibility: hidden;    display: block;    font-size: 0;    content: " ";  clear: both;    height: 0; }
.l-footer { display: table-row; height: 77px; margin: 0 auto; overflow: hidden;  background-color: #FFFFFF; /*border-top: #eeeded solid 1px;*/}
.l-footer__fixed {width: 100%; position: fixed; height: 77px; bottom: 0; border-top: #eeeded solid 1px; overflow: hidden; background-color: #FFFFFF; box-shadow: inset 1px -4px 8px 0 rgba(0,0,0,0.12);}
.l-footer__inner { width: 956px;  margin: 25px auto 0 auto; position: relative;}
.l-footer__inner:before { visibility: hidden;    display: block;    font-size: 0;    content: " ";  clear: both;    height: 0; }
.l-footer__inner:after { visibility: hidden;    display: block;    font-size: 0;    content: " ";  clear: both;    height: 0; }
.l-footer__inner-fixed {width: 956px; margin: 0 auto; padding-top: 27px;  padding-bottom: 27px; position: absolute; bottom: 0;}
.l-footer__inner-fixed:before {display: block; content: ' '; height: 1px; border-top: #eeeded solid 1px;  width: 999%; margin-left: -100%; margin-right: -100%;  position: relative;  top: -24px;}
.l-footer__inner-fixed:after { visibility: hidden;    display: block;    font-size: 0;    content: " ";  clear: both;    height: 0; }
.l-footer__left {float: left; position: relative; top: -5px;}
.l-footer__right {float: right; margin-top: -5px;}
.l-news-page-title {margin: 44px 0 34px 0; padding-left: 0px;}
.l-media-grid__left {overflow: hidden; width: calc(100% - 325px); float: left; margin-right: 30px; min-width: 615px;}
.l-media-grid__right {overflow: hidden; width: 295px; float: right;}
.l-text-block__contacts {margin-bottom: 50px;}
.l-contacts-text-block {margin-bottom: 50px;}
.l-content__feedback-form {float: left;  width: 420px; margin-left: 110px;}
.l-grid__2-column {display: table;}
.l-column__grid-2-columns {display: inline-block; vertical-align: top; width: 405px; margin-left: 27px;}
.l-column__grid-2-columns:nth-child(odd) {padding-right: 75px;}
.l-left-block__model-catalog {float: left;}
.l-right-block__model-catalog {float: right;}
.l-view__content-left {width: 362px; float: left;}
.l-view__content-right {float: left; width: calc(100% - 412px); padding-left: 50px;}
.l-map:after { content: ' ';  position: absolute;  box-shadow: rgba(0, 0, 0, 0.298039) 10px 10px 50px -23px inset;   z-index: 1; display: block; top: 0; width: 996px; height: 100%;}
.l-map {overflow: hidden;width: 996px; margin: 0 auto 40px auto; position: relative;}
.l-popup__preview {  z-index: 9999; left: 50%; top: 50%; -webkit-transform-origin: 0% 0% 0px; -ms-transform-origin: 0% 0% 0px; transform-origin: 0% 0% 0px; position: fixed; height: 410px;}
.l-video__preview { z-index: 9999; left: 50%; top: 50%; -webkit-transform-origin: 0% 0% 0px; -ms-transform-origin: 0% 0% 0px; transform-origin: 0% 0% 0px; position: fixed;}
.l-popup__view { z-index: 9999; left: 50%; top: 50%; -webkit-transform-origin: 0% 0% 0px; -ms-transform-origin: 0% 0% 0px; transform-origin: 0% 0% 0px; position: fixed;}
.l-popup__view-info { z-index: 9999; left: 50%; top: 50%; -webkit-transform-origin: 0% 0% 0px; -ms-transform-origin: 0% 0% 0px; transform-origin: 0% 0% 0px; position: fixed;}

.b-content__popup { overflow: hidden; width: 630px;}
.b-advantages {}
.b-advantage {overflow: hidden;margin-bottom: 20px;}
.b-advantage__icon {float: left;}
.b-advantage__description {margin-top: 5px;  padding-left: 90px; color: #444444; font-family: 'Open Sans', sans-serif; font-size: 14px;}
.b-articles {}
.b-articles__header {margin-bottom: 43px;}
.b-advantages__header { color: #444444; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 18px; margin-bottom: 43px; letter-spacing: 2px; text-transform: uppercase;}
.b-article {margin-bottom: 30px;}
.b-logo { background: url("./../images/b-logo.png") no-repeat; width: 185px; height: 38px; background-size: 185px 38px; }
.b-menu { list-style: none; margin: 0; margin-top: 5px; }
.b-menu-item { text-decoration: none; line-height: 1em; border-bottom: #4d9acb solid 1px; margin-right: 17px; display: inline-block;  color: #4d9acb; font-family: 'Open Sans', sans-serif; font-size: 16px;  }
.b-menu-item:hover {  color: #4080a8; border-bottom: transparent solid 1px;}
.b-menu-item:last-child {margin-right: 0;}
.b-menu-item__track-icon { line-height: 1em; border-bottom: #4d9acb solid 1px;  text-decoration: none; margin-right: 17px; display: inline-block;  color: #4d9acb; font-family: 'Open Sans', sans-serif; font-size: 16px; margin-left: 30px; position: relative; }
.b-menu-item__track-icon:hover { border-bottom: transparent solid 1px;  color: #4080a8; }
.b-menu-item__track-icon:before { display: block; content: ' '; width: 27px; height: 18px; background: url("./../images/b-menu-item__track-icon.png") no-repeat -5px -5px; position: absolute; left: -30px; /*-moz-transition: background 0.2s; -o-transition: background 0.2s; transition: background 0.2s;*/ }
.b-menu-item__track-icon:hover:before { background: url("./../images/b-menu-item__track-icon.png") no-repeat  -40px -5px; }
.b-two-lines { float: left; margin-left: 40px; }
.b-two-lines:after { visibility: hidden;    display: block;    font-size: 0;    content: " ";    clear: both;    height: 0; }
.b-two-lines_map { float: left; ; min-width: 190px; margin-left: 40px;}
.b-two-lines_map:after { visibility: hidden;    display: block;    font-size: 0;    content: " ";    clear: both;    height: 0; }
.b-two-lines__inner:before  { visibility: hidden;    display: block;    font-size: 0;    content: " ";    clear: both;    height: 0; }
.b-two-lines__inner { padding-left: 10px; float: left;}
.b-two-lines__inner:after { visibility: hidden;    display: block;    font-size: 0;    content: " ";    clear: both;    height: 0; }
.b-line {}
.b-line__light{ font-family: 'Open Sans', sans-serif; font-size: 13px; color: #444444; opacity: 0.5; margin-bottom: 5px;}
.b-title { font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 20px; color: #444444; }
.b-models {text-align: center; width: 985px;}
.b-model { display: inline-block;  margin: 0 1.360%; height: 56px; overflow: hidden; }
.b-model:last-child {margin-right: 0;}
.b-model-text {}
.b-model-icon {opacity: 0.7;}
.b-model__link { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #4d9acb;}
.b-model__link:hover {   text-decoration: none; color: #4080a8;}
.b-selector {overflow: hidden;}
.b-horizontal-selector {list-style: none; padding-left: 20px; }
.b-vertical-selector { list-style: none; overflow: hidden; float: left; display: block; padding-left: 20px;}
.b-selector-image { float: left; margin-left: 75px; }
.b-popup__selector { margin-left: 35px; width: 255px; float: left; background-color: #ffffff; border-radius: 3px; padding: 28px;  box-shadow: 0px 7px 17px -6px rgba(0,0,0,0.2); margin-bottom: 20px;}
.b-separator {clear: both; width: 996px; background-color: #eeeded; margin: 0 auto; height: 1px;}
.b-awards {height: 165px; text-align: center; white-space: nowrap; overflow-x: auto; overflow-y: visible;}
.b-title__section-centered { color: #444444; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 18px;  text-align: center; text-transform: uppercase; letter-spacing: 2px; margin: 40px 0 25px 0;}
.b-media-container {text-align: center; white-space: nowrap;}
.b-media {display: inline-block; width: 180px; vertical-align: top; margin: 0 5px 20px 5px; cursor:  pointer; white-space: normal; text-align: left;}
.b-media:nth-child(2) {margin: 0 5px 0 0;}
.b-media__link { color: #4d9acb; border-bottom: #4d9acb solid 1px; text-decoration: none;  line-height: 1em;}
.b-media__link:hover { color: #4080a8; border-bottom: transparent solid 1px; }
.b-sidebar-navigation {width: 360px; float:left; margin-right: 30px; padding-left: 55px;}
.b-article-content {width: 600px; float: left; border-left: #eeeded solid 1px; color: #444444; font-family: 'Open Sans', sans-serif; font-size: 14px; padding-left: 30px; margin-bottom: 60px;}
.b-photo {overflow: hidden ;display: inline-block; margin-right: 20px; cursor: pointer; color: #4d9acb; }
.b-photo:hover {text-decoration: none; color: #4080a8;}
.b-photo__photo-page {margin-bottom: 20px;display: inline-block; margin-right: 20px; cursor: pointer; color: #4d9acb;  padding: 5px;  border: #f4f3f3 solid 1px;  box-shadow: 2px 7px 10px -6px rgba(0,0,0,0.2);}
.b-photo__photo-page:hover {text-decoration: none; color: #4080a8;}
.b-video { position: relative; cursor: pointer; color: #4d9acb; width: 270px; display: block; -moz-flex-grow: 1; -webkit-flex-grow: 1; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1;}
.b-video:nth-child(odd) {margin-right: 20px;}
.b-video:hover {text-decoration: none; color: #4080a8;}
/*.b-video:before {display: block; content: ' ';  background: url("./../images/e-video__image-play.png") no-repeat; width: 77px; height: 77px;  position: absolute; top: 85px;  left: 100px;}*/
.b-photos {float: left; /*display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; */}
.b-videos {display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
.b-photos__photos-page {}
.b-title__secondary {color: #444; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 13px; text-transform: uppercase; opacity: 0.5; margin-bottom: 20px; letter-spacing: 2px;}
.b-media-grid { overflow: hidden; padding-bottom: 40px; min-width: 940px;}
.b-contact-form {  }
.b-text-block__content {color: #444444; font-family: 'Open Sans', sans-serif; font-size: 13px; clear: both; text-align: justify; margin-bottom: 35px; max-width: 1164px;}
.b-text-block__content-view {color: #444444; font-family: 'Open Sans', sans-serif; font-size: 13px; clear: both; margin-bottom: 35px; margin-top: 15px;}
.b-model__catalog {width: 405px;}
.b-price__model-catalog {margin-bottom: 30px;}
.b-text-block__header {margin-bottom: 20px;  margin-top: 15px;}
.b-parameters {display: table; border-collapse: separate; border-spacing: 0 15px; }
.b-parameters__view {display: table; border-collapse: separate; border-spacing: 0 15px; }
.b-parameter {display: table-row; padding-bottom: 20px;}
.b-price-sign {font-family: 'PT Rouble Sans', sans-serif;}
.b-header__block {overflow: hidden; margin-bottom: 15px;}
.b-block__panel-selects {margin-bottom: 30px;}
.b-panel-selects {padding: 30px; background-color: #f6f5f5;}
.b-manager-button { color: #ffffff; background-color: #4d9acb; border-radius: 3px; outline: none; border: 0px; font-size: 16px; padding: 12px 20px; margin-left: 30px; font-family: "Open Sans", sans-serif;}
.b-manager-button:hover { background-color: #50b5e7; }
.b-manager-button:active { background-color: #4d9acb; }
.b-cms-area {overflow: hidden; font-family: "Open Sans", sans-serif;}
.b-popup__gray { text-align: center;  height: 100%; display: inline-block;  box-shadow: 0px 9px 27px -6px rgba(0,0,0,1);}
.b-popup__black-overlay {border-radius: 3px; text-align: left; background-color: #FFFFFF; display: inline-block;  box-shadow: 0 0 0 2038px rgba(0,0,0,.5); padding: 35px 40px;}
.b-preview__image { height: 100%; box-shadow: 0 0 0 9999px rgba(233,233,233,0.8); display: inline-block; background-color: rgba(233,233,233,0.8);}
.b-order-parameter {overflow: hidden; clear: both; margin-bottom: 5px; display: table-row;}
.b-order-parameter:after { content:"\A"; white-space:pre; }
.b-order-parameter__total {margin-top: 20px;}
.b-order-item {overflow: hidden;}
.b-order-parameters {overflow: hidden; display: table; width: 100%;}
.b-footer__popup {border-top: #e5e5e5 solid 1px; margin-top: 30px; font-family: 'Open Sans', sans-serif; color: #444444; font-size: 14px;}
.b-order__details {display: inline-block; width: 65%;}
.b-text__popup-block {font-family: 'Open Sans', sans-serif; color: #444444; font-size: 13px;}
.b-popup-block { clear: both; overflow: hidden;  margin-bottom: 40px;}
.b-logo__link {text-decoration: none;}
.b-slider {border: #FFFFFF solid 3px; outline: none; box-shadow: 0 0 0 9999px rgba(0,0,0,0.8); display: inline-block; background-color: rgba(0,0,0,0.8); position: fixed; top: 50%;  left: 50%; width: auto;  height: auto; -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%);  transform: translateX(-50%) translateY(-50%);}
.b-video__container {z-index: 10; outline: white solid 5px; box-shadow: 0 0 0 9999px rgba(0,0,0,0.8); display: inline-block; background-color: rgba(0,0,0,0.8); position: fixed; top: 50%;  left: 50%; width: auto;  height: auto; -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%);  transform: translateX(-50%) translateY(-50%);}
.b-play__thumbnail { position: absolute; display: block; content: ' ';  margin: auto; left: 0;  right: 0;  top: 0; bottom: 0; width: 43px; height: 43px; background-color: rgba(77, 154, 203, 0.8); border: rgb(255,255,255) solid 3.5px; border-radius: 40px;}
.b-play__thumbnail-media { position: absolute; display: block; content: ' ';  margin: auto; left: 0;  right: 0;  top: 0; bottom: 0; width: 76px; height: 76px; background-color: rgba(77, 154, 203, 0.8); border: rgb(255,255,255) solid 3.5px; border-radius: 40px;}
.b-image-container__video {position: relative;}
.b-contact-block {display: table-row; margin-bottom: 0;}

.e-photo__image {width: 270px; height: 205px; max-height: 250px;}
.e-previous-page__slider {width: 0; height: 0; border-style: solid; border-width: 57.5px 30px 57.5px 0; border-color: transparent #939393 transparent transparent; position: absolute; left: -70px;top: 15%;top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.e-previous-page__slider:hover {border-color: transparent #b2b2b2 transparent transparent;}
.e-next-page__slider {width: 0; height: 0; border-style: solid; border-width: 57.5px 0 57.5px 30px; border-color: transparent transparent transparent #939393; position: absolute; right: -70px;  top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.e-next-page__slider:hover {border-color: transparent transparent transparent #b2b2b2;}
.e-title__text {font-family: 'Open Sans', sans-serif; color: #444444; font-size: 14px; font-weight: bold; margin-bottom: 20px;  }
.e-form-text__popup { margin-top: 25px; margin-bottom: 15px;}
.e-input__contact-block {margin-right: 10px; height: 40px; font-family: 'Open Sans', sans-serif; border: #d6d5d5 solid 1px;  box-sizing: border-box; padding-left: 12px; width: 205px; }
.e-input__contact-block::-webkit-input-placeholder {    color: rgba(0,0,0,0.25); font-size: 14px;}
.e-input__contact-block:-moz-placeholder {    color: rgba(0,0,0,0.25); font-size: 14px;}
.e-input__contact-block::-moz-placeholder {    color: rgba(0,0,0,0.25); font-size: 14px;}
.e-input__contact-block:-ms-input-placeholder {    color: rgba(0,0,0,0.25); font-size: 14px;}
.e-button__contact-block:disabled { opacity: 0.8; background-color: #ccc;}
.e-button__contact-block:hover:disabled { opacity: 0.8; background-color: #ccc;}
.e-button__contact-block {color: #ffffff; background-color: #4d9acb; border-radius: 3px; outline: none; border: 0px; font-size: 16px; padding: 9px 19px; font-family: "Open Sans", sans-serif;}
.e-button__contact-block:hover { background-color: #50b5e7; }
.e-button__contact-block:active { background-color: #4d9acb; }
.e-button__contact-block-centered { margin: 0 auto; display: block; color: #ffffff; background-color: #4d9acb; border-radius: 3px; outline: none; border: 0px; font-size: 16px; padding: 9px 19px; font-family: "Open Sans", sans-serif;}
.e-button__contact-block-centered:hover { background-color: #50b5e7; }
.e-button__contact-block-centered:active { background-color: #4d9acb; }
.e-option__order-parameter { color: #444444; font-size: 13px; font-family: 'Open Sans', sans-serif; float: left; margin-right: 40px;display: table-cell;  padding-bottom: 5px;}
.e-parameter__order-parameter { color: #b1b1b1; font-size: 13px; font-family: 'Open Sans', sans-serif; float: left;  margin-right: 0px; display: table-cell; padding-bottom: 5px;}
.e-price__order-parameter { font-family: 'Open Sans', sans-serif; float: right; font-size: 13px;display: table-cell; padding-bottom: 5px;}
.e-price__order-parameter-total { font-family: 'Open Sans', sans-serif; float: right; font-weight: 600; font-size: 16px;}
.e-order__item { color: #444444; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 600; float: left; margin-bottom: 30px;}
.e-order__price { color: #444444; font-size: 13px; font-family: 'Open Sans', sans-serif; font-weight: 600; float: right; white-space: nowrap; }
.e-order__price { color: #444444; font-size: 13px; font-family: 'Open Sans', sans-serif; font-weight: 600; float: right; white-space: nowrap; }
.e-content__left-image {float: left; margin-right: 20px;}
.e-image__popup-block {float: left; margin-right: 20px;}
.e-header__popup { background: url("./../images/b-popup__close-icon.png") no-repeat; width: 13px; height: 13px;float: right; cursor: pointer;}
.e-title__popup { color: #444444; font-size: 20px; font-family: 'Open Sans', sans-serif; font-weight: 600; margin-bottom: 35px;}
.e-line__phone { line-height: 1.3em; color: #444444; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 600; }
.e-line__price { color: #444444; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 600; margin-bottom: 5px; }
.e-line__link { position: relative; top: 1px; display: inline-block; line-height: 1em; color: #4d9acb; border-bottom: #4d9acb solid 1px; font-family: 'Open Sans', sans-serif; font-size: 14px; white-space: nowrap; text-decoration: none;}
.e-line__link:hover { color: #4080a8;border-bottom: transparent solid 1px;}
.e-line__link-map { color: #4d9acb; font-family: 'Open Sans', sans-serif; font-size: 14px; display: block;   text-decoration: none; border-bottom: #4d9acb solid 1px; line-height: 1em; padding-top: 1.6em; }
.e-line__link-map-icon {float: left; display: block; }
.e-line__link-map:hover {border-bottom: transparent solid 1px; color: #4080a8;}
.e-two-lines__map-icon { background: url("./../images/e-two-lines__map-icon.png") no-repeat; width: 40px; height: 40px; float: left; }
.e-line__address {line-height: 1.5em; color: #444444; font-size: 14px; white-space: nowrap; float: left; font-family: 'Open Sans', sans-serif;}
.e-model__icon-generic { background-position: center; background-repeat: no-repeat;  filter: grayscale(100%); -webkit-filter: grayscale(1); }
.e-model__icon-track {    filter: url('url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale");');background: url("./../images/e-model__icon-track.png") no-repeat; width: 51px; height: 38px; margin: 0 auto; background-size: 100%; background-position: center; }
.e-model__icon-nissan { background: url("./../images/e-model__icon-nissan.png") no-repeat;  width: 44px; height: 32px; background-size: 100%;   margin: 0 auto; background-size: 100%;top: 50%; -webkit-transform: translateY(13%); -ms-transform: translateY(13%); transform: translateY(13%);}
.e-model__icon-kamaz { background: url("./../images/e-model__icon-kamaz.png") no-repeat; width: 36px; height: 38px;  margin: 0 auto;  background-size: 100%;}
.e-model__icon-ford { background: url("./../images/e-model__icon-ford.png") no-repeat; width: 52px; height: 20px; background-size: 100%;top: 50%; -webkit-transform: translateY(50%); -ms-transform: translateY(50%); transform: translateY(50%); }
.e-model__icon-avia { background: url("./../images/e-model__icon-avia.png") no-repeat; width: 57px; height: 17px;  background-size: 100%;  margin: 0 auto; top: 70%; -webkit-transform: translateY(70%); -ms-transform: translateY(70%); transform: translateY(70%); }
.e-model__icon-man__simple-image { margin-left: 10px;display: inline-block; background-size: 100%;width: 45px; height: 25px;background-image: none;)}
.e-model__icon-man { background: url("./../images/e-model__icon-man.png") no-repeat; width: 45px; height: 25px; background-size: 100%; margin: 0 auto; top: 50%; -webkit-transform: translateY(20%); -ms-transform: translateY(20%); transform: translateY(20%); }
.e-model__icon-hyundai { background: url("./../images/e-model__icon-hundai.png") no-repeat; width: 48px; height: 25px;background-size: 100%;  margin: 0 auto; top: 50%; -webkit-transform: translateY(23%); -ms-transform: translateY(23%); transform: translateY(23%); }
.e-model__icon-vw { background: url("./../images/e-model__icon-vw.png") no-repeat; background-size: 100%;width: 37px; height: 39px;  margin: 0 auto; top: 50%; }
.e-model__icon-fiat { background: url("./../images/e-model__icon-fiat.png") no-repeat; background-size: 100%;width: 36px; height: 36px;  margin: 0 auto; top: 50%; }
.e-model__icon-daf { background: url("./../images/e-model__icon-daf.png") no-repeat; background-size: 100%;width: 48px; height: 13px;  margin: 0 auto; top: 50%; -webkit-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%); }
.e-model__icon-iveco { background: url("./../images/e-model__icon-iveco.png") no-repeat;background-size: 100%; width: 50px; height: 11px;  margin: 0 auto; top: 50%; -webkit-transform: translateY(115%); -ms-transform: translateY(115%); transform: translateY(115%); }
.e-model__icon-jac { background: url("./../images/e-model__icon-jac.png") no-repeat; background-size: 100%;width: 46px; height: 18px;  margin: 0 auto; top: 50%; -webkit-transform: translateY(60%); -ms-transform: translateY(60%); transform: translateY(60%); }
.e-model__icon-isuzu { background: url("./../images/e-model__icon-isuzu.png") no-repeat;background-size: 100%; width: 23px; height: 37px;  margin: 0 auto; top: 50%; }
.e-horizontal-selector__item { display: inline-block; font-family: 'Open Sans', sans-serif; font-size: 16px; color: #4d9acb; border-bottom: #4d9acb dashed 1px; text-transform: uppercase; margin-right: 30px; letter-spacing: 2px;  cursor: pointer; line-height: 1em;}
.e-horizontal-selector__item:hover {border-bottom: transparent dashed 1px; color: #4080a8;}
.e-horizontal-selector__item-selected {   margin-left: -10px; display: inline-block; font-family: 'Open Sans', sans-serif; font-size: 16px; color: #FFFFFF; border-bottom: #4d9acb dashed 1px; text-transform: uppercase; margin-right: 20px; background-color: #4d9acb; padding: 5px 10px; border-radius: 3px; letter-spacing: 2px;  cursor: pointer;}
.e-horizontal-selector__link {color: #4d9acb; text-decoration: none;}
.e-vertical-selector__item { font-size: 16px; color: #4d9acb; font-family: 'Open Sans', sans-serif; font-weight: 600; border-bottom: #4d9acb dashed 1px; margin-bottom: 25px; display: inline-block; float: left; clear: left;  cursor: pointer; line-height: 1em;}
.e-vertical-selector__item:hover {border-bottom: transparent dashed 1px; color: #4080a8;}
.e-vertical-selector__item-selected { font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 600; margin-bottom: 26px; display: inline-block; float: left; clear: left; line-height: 1em; }
.e-popup__title { white-space: nowrap; color: #444444; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 18px; }
.e-popup__description { color: #444444; font-family: 'Open Sans', sans-serif; font-size: 14px; margin-top: 27px; }
.e-popup__footer-button { margin-top: 39px; color: #ffffff; background-color: #4d9acb; padding: 12px 40px; border-radius: 3px; outline: none; border: 0; font-family: 'Open Sans', sans-serif; }
.e-popup__footer-button:hover { background-color: #4da3d4; }
.e-popup__footer-button:active {  background-color: #4d9acb;}
.e-title__articles-primary { padding-top: 3px; display: inline-block; line-height: 1em; text-decoration: none; border-bottom: #4d9acb solid 1px; color: #4d9acb; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 18px; text-transform: uppercase; letter-spacing: 2px;}
.e-title__articles-primary:hover { border-bottom: transparent solid 1px; color: #4080a8;}
.e-title__articles-secondary {text-decoration: none; border-bottom: #4d9acb solid 1px; color: #4d9acb; font-family: 'Open Sans', sans-serif; font-size: 14px; float:right; line-height: 1em; }
.e-title__articles-secondary:hover {border-bottom: transparent solid 1px; color: #4080a8;}
.e-article__icon {float: left;}
.e-article__icon img {border-radius: 50px}
.e-article__title { border-bottom: #4d9acb solid 1px; text-decoration: none; line-height: 1em;  color: #4d9acb; font-family: 'Open Sans', sans-serif; font-size: 14px; margin-bottom: 5px;   margin-left: 85px; display: table;padding-top: 9px;}
.e-article__title:hover {  text-decoration: none; color: #4080a8;}
.e-article__title-big {line-height: 1em;border-bottom: #4d9acb solid 1px; text-decoration: none; color: #4d9acb; font-family: 'Open Sans', sans-serif; font-size: 16px; margin-bottom: 5px;   margin-left: 86px; display: table;padding-top: 9px;}
.e-article__title-big:hover { border-bottom: transparent solid 1px; color: #4080a8;}
.e-article__title-sidebar {color: #4d9acb; font-family: 'Open Sans', sans-serif; font-size: 16px; margin-bottom: 15px;   display: block;}
.e-article__title-sidebar:hover {  text-decoration: none; color: #4080a8;}
.e-article__title-sidebar-selected {color: #454444; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 16px; margin-bottom: 15px;   display: block;padding-top: 9px;}
.e-article__date {color: #444444; font-family: 'Open Sans', sans-serif; font-size: 13px; margin-bottom: 10px; opacity: 0.5;   margin-left: 85px;}
.e-article__date-sidebar {color: #444444; font-family: 'Open Sans', sans-serif; font-size: 14px; margin-bottom: 15px; opacity: 0.5;}
.e-article__description {color: #444444; font-family: 'Open Sans', sans-serif; font-size: 14px;   margin-left: 85px;}
.e-award {display: inline-block; width: 100px; margin-right: 17px; cursor: pointer;  box-shadow: 0px 7px 17px -6px rgba(0,0,0,0.2);}
.e-award:last-child {margin-right: 0px;}
.e-media__description { line-height: 1.7em; font-family: 'Open Sans', sans-serif; font-size: 14px; text-align: left; margin-top: 15px;display: inline;}
.e-photo__title {font-family: 'Open Sans', sans-serif; font-size: 14px; margin-top: 10px; min-height: 55px;}
.e-video__title {font-family: 'Open Sans', sans-serif; font-size: 14px; margin-top: 10px; min-height: 59px;}
.e-text__contacts {color: #444444; font-family: 'Open Sans', sans-serif; font-size: 13px; font-style: italic; width: 270px; margin-bottom: 20px; }
.e-text__work-time {color: #444444; font-family: 'Open Sans', sans-serif; font-size: 13px; font-style: italic; margin-bottom: 20px; }
.e-text__contacts-regular {color: #444444; font-family: 'Open Sans', sans-serif; font-size: 13px; width: 380px; margin-bottom: 20px; }
.e-phone__contacts {color: #444444; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 16px; }
.e-input-full-width__contact-form {height: 40px; font-family: 'Open Sans', sans-serif; border: #d6d5d5 solid 1px;  box-sizing: border-box; padding-left: 12px; width: 100%; margin-bottom: 12px;}
.e-input-full-width__contact-form::-webkit-input-placeholder {    color: rgba(0,0,0,0.25); font-size: 14px;}
.e-input-full-width__contact-form:-moz-placeholder {    color: rgba(0,0,0,0.25); font-size: 14px;}
.e-input-full-width__contact-form::-moz-placeholder {    color: rgba(0,0,0,0.25); font-size: 14px;}
.e-input-full-width__contact-form:-ms-input-placeholder {    color: rgba(0,0,0,0.25); font-size: 14px;}
.e-input-half-width__contact-form {height: 40px; font-family: 'Open Sans', sans-serif; border: #d6d5d5 solid 1px;  box-sizing: border-box; padding-left: 12px; width: 49.47%; margin-bottom: 12px; }
.e-input-half-width__contact-form::-webkit-input-placeholder {    color: rgba(0,0,0,0.25); font-size: 14px;}
.e-input-half-width__contact-form:-moz-placeholder {    color: rgba(0,0,0,0.25); font-size: 14px;}
.e-input-half-width__contact-form::-moz-placeholder {    color: rgba(0,0,0,0.25); font-size: 14px;}
.e-input-half-width__contact-form:-ms-input-placeholder {    color: rgba(0,0,0,0.25); font-size: 14px;}
.e-textarea__contact-form { resize: none;height: 80px; font-family: 'Open Sans', sans-serif; border: #d6d5d5 solid 1px;  box-sizing: border-box; padding-left: 12px; width: 100%; margin-bottom: 12px; }
.e-textarea__contact-form::-webkit-input-placeholder {    color: rgba(0,0,0,0.25); font-size: 14px;}
.e-textarea__contact-form:-moz-placeholder {    color: rgba(0,0,0,0.25); font-size: 14px;}
.e-textarea__contact-form::-moz-placeholder {    color: rgba(0,0,0,0.25); font-size: 14px;}
.e-textarea__contact-form:-ms-input-placeholder {    color: rgba(0,0,0,0.25); font-size: 14px;}
.e-submit-button__contact-form {background-color: #4d9acb; border-radius: 3px; height: 40px; color: #ffffff; padding: 10px 25px; border: none; outline: none;font-family: 'Open Sans', sans-serif;}
.e-submit-button__contact-form:hover {background-color: #4eacdd; }
.e-submit-button__contact-form:active {background-color: #4d9acb ; }
.e-text__header {color: #444444; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 20px; margin-bottom: 20px;}
.e-price__price {color: #444444; font-family: 'Open Sans', sans-serif; font-size: 14px; opacity: 0.6;}
.e-rouble__price {font-family: 'PT Rouble Sans', sans-serif;}
.e-type__price {color: #4d9acb; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 18px; display: inline-block; margin-bottom: 5px; line-height: 1em;}
.e-type__price:hover {text-decoration: none; color: #4080a8; }
.e-calc-button__price { color: #ffffff; background-color: #4d9acb;  border-radius: 3px; outline: none; border: 0; font-size: 16px; padding: 12px 20px;  font-family: 'Open Sans', sans-serif; }
.e-calc-button__price:hover { background-color: #50b5e7; }
.e-calc-button__price:active { background-color: #4d9acb; }
.e-image__model-catalog {display: block; margin-bottom: 40px;}
.e-icon__header {margin-left: 10px;}
.e-image__carousel {width: 100%;}
.e-key__parameter {display: table-cell; padding-right: 60px; color: #444444; font-family: 'Open Sans', sans-serif; font-size: 13px;}
.e-key__value {display: table-cell; color: #444444; font-family: 'Open Sans', sans-serif; font-size: 13px;}
.e-toggle__parameters {text-decoration: none; color: #4d9acb; font-family: 'Open Sans', sans-serif; font-size: 14px; border-bottom: #4080a8 dashed 1px;line-height: 1em;}
.e-toggle__parameters:hover {color: #4080a8; border-bottom: transparent dashed 1px; }
.e-select-panel__block {font-family: 'Open Sans', sans-serif; border: #e8e7e7 solid 1px; border-radius: 3px;  padding: 5px 10px; color: #444444; font-size: 13px; margin-bottom: 5px; -webkit-touch-callout: none;    -webkit-user-select: none;    -khtml-user-select: none;    -moz-user-select: none;    -ms-user-select: none;    user-select: none; cursor: pointer;}
.e-select-panel__block-selected {font-family: 'Open Sans', sans-serif; border: #91bedc solid 1px; outline: #91bedc solid 1px; padding: 5px 10px; color: #444444; font-size: 13px; -webkit-touch-callout: none;    -webkit-user-select: none;    -khtml-user-select: none;    -moz-user-select: none;    -ms-user-select: none;    user-select: none; cursor: pointer; margin-bottom: 5px;}
.e-price__select-panel {float: right;}
.e-title__header-block {color: #444444; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 13px; text-transform: uppercase; letter-spacing: 2px; float: left;}
.e-help__header-block {float: right; color: #4d9acb; font-family: 'Open Sans', sans-serif; font-size: 12px; border-bottom: #4d9acb dashed 1px; cursor: pointer; line-height: 1em; padding-top: 0.3em;}
.e-help__header-block:hover {color: #4080a8; border-bottom: transparent dashed 1px; }
.e-thumbnail__carousel {cursor: pointer; outline: #ecebeb solid 1px; width: 83px; margin: 2px;}
.e-thumbnail__carousel-selected {outline: #f59696 solid 2px; cursor: pointer;  width: 83px; margin: 2px;}
.e-media__thumbnail { position: relative; width: 180px; height: 135px; margin-bottom: 10px; box-shadow: 0px 7px 11px -6px rgba(0,0,0,0.2);}
.e-media__thumbnail > img { width: 100%; height: 100%;}
.e-slogan__logo {color: #0078b3; font-family: 'Open Sans', sans-serif; font-size: 11px; text-decoration: none; position: relative; top: 23px;  left: 70px;}
.e-previous-page__title {line-height: 1em; display: inline-block;  text-decoration: none; border-bottom: #4d9acb solid 1px; color: #4d9acb; font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 600;}
.e-previous-page__title:hover {text-decoration: none; color: #4080a8; border-bottom: transparent solid 1px;  }
.e-sign-next__title {color: #afaeae;}
.e-video__image {height: 205px; width: 100%;}
.b-two-lines_map:hover .e-line__link-map {border-bottom: transparent solid 1px;}
.e-link__popup-selector {text-decoration: none;}
.e-link__model-catalog {text-decoration: none;}
.e-triangle__play {width: 0; height: 0; border-style: solid; border-width: 8px 0 8px 13px; border-color: transparent transparent transparent #ffffff; margin: 14px 17px; }
.e-triangle__play-media {width: 0; height: 0; border-style: solid; border-width: 17px 0 17px 28px; border-color: transparent transparent transparent #ffffff; margin: 21px 28px; }
.b-selector-image img {max-width: 365px;}
.e-image__slider { min-width: 600px; min-height: 500px;}
#contact-manager-form {margin-bottom: 0; height: 40px; display: table;}

/* Jquery validation */
input.error { border: red solid 1px;}

/* Typography for page created by CMS Editor */
.b-cms-area {font-family: "Open Sans", sans-serif;  color: #444444; font-size: 14px; max-width: 1164px;}
.b-cms-area p {font-family: "Open Sans", sans-serif;  color: #444444; font-size: 14px;}
.b-cms-area h1 {font-family: "Open Sans", sans-serif; font-weight: 600; color: #444444; padding: 0; font-size: 20px; margin: 0; line-height: 0.7em;}
.b-cms-area h2 {font-family: "Open Sans", sans-serif; font-weight: 600; color: #444444; padding: 0; font-size: 13px; opacity: 0.5; letter-spacing: 1px; text-transform: uppercase; margin: 0;}
.b-cms-area td, .b-cms-area th {padding: 5px 10px;}
.b-cms-area tr td:first-child {padding-right: 45px;}
.b-cms-area tr b {margin-top: 10px;}
.b-cms-area thead {  line-height: 1.5em; border-bottom: #d6d5d5 solid 1px; font-size: 13px; }
.b-cms-area tbody:before {content: "-"; display: block; line-height: 1em; color: transparent;}

/* Third Party */
.jspHorizontalBar {
    background-color: transparent;
    height: 12px;
}
.jspTrack {
    /*/!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8dfe5+0,ebeff2+100 *!/*/
    background: #d8dfe5; /* Old browsers */ /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8dfe5), color-stop(100%,#ebeff2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d8dfe5 0%,#ebeff2 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
    background: -webkit-linear-gradient(top, #d8dfe5 0%, #ebeff2 100%);
    background: linear-gradient(to bottom,  #d8dfe5 0%,#ebeff2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8dfe5', endColorstr='#ebeff2',GradientType=0 ); /* IE6-9 */
    border-radius: 8px;
}
.jspDrag  {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfefe+0,e7f2f8+100 */
    background: #fcfefe; /* Old browsers */ /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfefe), color-stop(100%,#e7f2f8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfefe 0%,#e7f2f8 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
    background: -webkit-linear-gradient(top, #fcfefe 0%, #e7f2f8 100%);
    background: linear-gradient(to bottom,  #fcfefe 0%,#e7f2f8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfefe', endColorstr='#e7f2f8',GradientType=0 ); /* IE6-9 */
    border-radius: 8px;
    box-shadow: inset 0px 0px 0px 2px rgba(200,210,217,1);
    height: 12px !important;
}

/* Media query */
@media screen and (min-width: 1200px) {
    .l-page, .l-footer__fixed { zoom: 1.06; -moz-transform: scale(1.06);-moz-transform-origin: 50% 0; -ms-zoom: 1;  -ms-transform: scale(1.06); -ms-transform-origin: 50% 0;}
}
@media screen and (min-width: 1300px) {
    .l-page, .l-footer__fixed { zoom: 1.13; -moz-transform: scale(1.13);-moz-transform-origin: 50% 0; -ms-zoom: 1;  -ms-transform: scale(1.13); -ms-transform-origin: 50% 0; }
}
@media screen and (min-width: 1400px) {
    .l-page, .l-footer__fixed {zoom: 1.19; -moz-transform: scale(1.19);-moz-transform-origin: 50% 0; -ms-zoom: 1;  -ms-transform: scale(1.19); -ms-transform-origin: 50% 0; }
}
@media screen and (min-width: 1510px) {
    .l-page, .l-footer__fixed { zoom: 1.25; -moz-transform: scale(1.25);-moz-transform-origin: 50% 0; -ms-zoom: 1;  -ms-transform: scale(1.25); -ms-transform-origin: 50% 0; }
}
@media screen and (min-width: 1600px) {
    .l-page, .l-footer__fixed { zoom: 1.31; -moz-transform: scale(1.31);-moz-transform-origin: 50% 0; -ms-zoom: 1;  -ms-transform: scale(1.31); -ms-transform-origin: 50% 0; }
}
@media screen and (min-width: 1700px) {
    .l-page, .l-footer__fixed { zoom: 1.38; -moz-transform: scale(1.38);-moz-transform-origin: 50% 0; -ms-zoom: 1;  -ms-transform: scale(1.38); -ms-transform-origin: 50% 0; }
}
@media screen and (min-width: 1800px) {
    .l-page, .l-footer__fixed { zoom: 1.44; -moz-transform: scale(1.44);-moz-transform-origin: 50% 0; -ms-zoom: 1; -ms-transform: scale(1.44); -ms-transform-origin: 50% 0; }
}
@media screen and (min-width: 1920px) {
    .l-page, .l-footer__fixed { zoom: 1.50; -moz-transform: scale(1.50);-moz-transform-origin: 50% 0; -ms-zoom: 1; -ms-transform: scale(1.50); -ms-transform-origin: 50% 0; }
}
.l-footer__fixed {-webkit-transform-origin: 50% 80%;-ms-transform-origin: 50% 80%;transform-origin: 50% 80%;}



@media screen and (min-width: 1200px) {.l-popup__preview, .l-video__preview, .l-popup__view, .l-popup__view-info { -webkit-transform: scale(1.06) translate(-50%, -50%); -ms-transform: scale(1.06) translate(-50%, -50%); transform: scale(1.06) translate(-50%, -50%); }}
@media screen and (min-width: 1300px) {.l-popup__preview, .l-video__preview, .l-popup__view, .l-popup__view-info {  -webkit-transform: scale(1.13) translate(-50%, -50%);  -ms-transform: scale(1.13) translate(-50%, -50%);  transform: scale(1.13) translate(-50%, -50%);}}
@media screen and (min-width: 1400px) {.l-popup__preview, .l-video__preview, .l-popup__view, .l-popup__view-info { -webkit-transform: scale(1.19) translate(-50%, -50%); -ms-transform: scale(1.19) translate(-50%, -50%); transform: scale(1.19) translate(-50%, -50%); }}
@media screen and (min-width: 1510px) {.l-popup__preview, .l-video__preview, .l-popup__view, .l-popup__view-info {-webkit-transform: scale(1.25) translate(-50%, -50%);-ms-transform: scale(1.25) translate(-50%, -50%);transform: scale(1.25) translate(-50%, -50%); }}
@media screen and (min-width: 1600px) {.l-popup__preview, .l-video__preview, .l-popup__view, .l-popup__view-info {-webkit-transform: scale(1.31) translate(-50%, -50%);-ms-transform: scale(1.31) translate(-50%, -50%);transform: scale(1.31) translate(-50%, -50%); }}
@media screen and (min-width: 1700px) {.l-popup__preview, .l-video__preview, .l-popup__view, .l-popup__view-info { -webkit-transform: scale(1.38) translate(-50%, -50%); -ms-transform: scale(1.38) translate(-50%, -50%); transform: scale(1.38) translate(-50%, -50%);}}
@media screen and (min-width: 1800px) {.l-popup__preview, .l-video__preview, .l-popup__view, .l-popup__view-info {  -webkit-transform: scale(1.44) translate(-50%, -50%);  -ms-transform: scale(1.44) translate(-50%, -50%);  transform: scale(1.44) translate(-50%, -50%);}}
@media screen and (min-width: 1920px) {.l-popup__preview, .l-video__preview, .l-popup__view, .l-popup__view-info {  -webkit-transform: scale(1.50) translate(-50%, -50%);  -ms-transform: scale(1.50) translate(-50%, -50%);  transform: scale(1.50) translate(-50%, -50%);}}